<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive beaver.js demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo of beaver.js which collects the real-time state of devices from reelyActive APIs via websockets or polling.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/reelyactive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
	  <div ng-controller="DashCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> beaver.js demo </a></li>
          </ul>
        </div>
      </nav>
      <!----- BEGIN CONTENT SECTION ----------------------------------------->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <!----- STATISTICS ---------------------------------------------->
            <!-- You have access to a variable called stats which has four -->
            <!-- properties: appearances, displacements, keepalives and    -->
            <!-- displacements.  Each is an integer.                       -->
            <!--------------------------------------------------------------->
            <table class="table">
              <caption> REAL-TIME STATISTICS </caption>
              <thead>
                <tr>
                  <th> Event </th>
                  <th> Occurences </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> appearances </td>
                  <td> {{stats.appearances}} </td>
                </tr>
                <tr>
                  <td> displacements </td>
                  <td> {{stats.displacements}} </td>
                </tr>
                <tr>
                  <td> keep-alives </td>
                  <td> {{stats.keepalives}} </td>
                </tr>
                <tr>
                  <td> disappearances </td>
                  <td> {{stats.disappearances}} </td>
                </tr>
                <tr> <td colspan="2" class="active"> </td> </tr>
                <tr>
                  <td> passedFilters </td>
                  <td> {{stats.passedFilters}} </td>
                </tr>
                <tr>
                  <td> failedFilters </td>
                  <td> {{stats.failedFilters}} </td>
                </tr>
              </tbody>
            </table>
            <!----- DIRECTORIES --------------------------------------------->
            <!-- You have access to a variable called directories which    -->
            <!-- has as properties all detected receiverDirectory names.   -->
            <!--------------------------------------------------------------->
            <table class="table">
              <caption> TOP 3 DIRECTORIES </caption>
              <thead>
                <tr>
                  <th> Directory </th>
                  <th> Receivers </th>
                  <th> Devices </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="directory in directories |
                               orderBy: '-deviceCount' | limitTo: 3">
                  <td> {{directory.id}} </td>
                  <td> {{directory.receiverCount}} </td>
                  <td> {{directory.deviceCount}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-8">
            <!----- EVENTS -------------------------------------------------->
            <!-- In dashboard.js, we created an array called events which  -->
            <!-- includes the n most recent events.  Each event has three  -->
            <!-- properties: type, tiraid and associations                 -->
            <!--------------------------------------------------------------->
            <table class="table table-hover">
              <caption> REAL-TIME EVENT STREAM </caption>
              <thead>
                <tr>
                  <th> deviceId </th>
                  <th> event </th>
                  <th> receiverId/Directory </th>
                  <th> rssi </th>
                  <th> time </th>
                  <th> deviceUrl </th>
                  <th> passedFilters </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(id, event) in events">
                  <td> <tt> {{event.deviceId}} </tt> </td>
                  <td> {{event.event}} </td>
                  <td>
                    <tt>
                      {{event.receiverDirectory || event.receiverId}}
                    </tt>
                  </td>
                  <td> {{event.rssi}} </td>
                  <td> {{event.time}} </td>
                  <td> <a ng-href="{{event.deviceUrl}}"
                          ng-show="{{event.deviceUrl !== null}}"
                          target="_blank"> URL </a> </td>
                  <td ng-class="event.passedFilters ? 'success' : 'danger'">
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 well well-lg">
            <h3 class="text-center"> beaver.js </h3>
            <p class="text-center">
              <a class="btn btn-primary" href="https://github.com/reelyactive/beaver/tree/gh-pages" target="_blank">Source Code</a>
              <a class="btn btn-success" href="https://github.com/reelyactive/beaver" target="_blank">Documentation</a>
            </p>
            <img class="img-responsive" src="images/beaver-bubble.png">
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <!----- END CONTENT SECTION ----------------------------------------->
      <footer class="footer">
        <a href="https://github.com/reelyactive/beaver">
          beaver.js
        </a>
        &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016-2018
        </a>
      </footer>
    </div>
  </body>
</html>
