<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive beaver.js demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </head>
  <body ng-app="dashboard">
	  <div ng-controller="DashCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> beaver.js demo </a></li>
          </ul>
        </div>
      </nav>
      <!----- BEGIN CONTENT SECTION ----------------------------------------->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <!----- STATISTICS ---------------------------------------------->
            <!-- You have access to a variable called stats which has four -->
            <!-- properties: appearances, displacements, keepalives and    -->
            <!-- displacements.  Each is an integer.                       -->
            <!--------------------------------------------------------------->
            <table class="table">
              <caption> REAL-TIME STATISTICS </caption>
              <thead>
                <tr>
                  <th> Event </th>
                  <th> Occurences </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> appearances </td>
                  <td> {{stats.appearances}} </td>
                </tr>
                <tr>
                  <td> displacements </td>
                  <td> {{stats.displacements}} </td>
                </tr>
                <tr>
                  <td> keep-alives </td>
                  <td> {{stats.keepalives}} </td>
                </tr>
                <tr>
                  <td> disappearances </td>
                  <td> {{stats.disappearances}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-9">
            <!----- EVENTS -------------------------------------------------->
            <!-- In dashboard.js, we created an array called events which  -->
            <!-- includes the n most recent events.  Each event has three  -->
            <!-- properties: type, tiraid and associations                 -->
            <!--------------------------------------------------------------->
            <table class="table table-hover">
              <caption> REAL-TIME EVENT STREAM </caption>
              <thead>
                <tr>
                  <th> Transmitter ID </th>
                  <th> Event </th>
                  <th> Receiver ID/directory </th>
                  <th> RSSI </th>
                  <th> Timestamp </th>
                  <th> Ass. </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(id, event) in events">
                  <td> <tt> {{event.tiraid.identifier.value}} </tt> </td>
                  <td> {{event.type}} </td>
                  <td>
                    <tt>
                      {{event.tiraid.radioDecodings[0].associations.directory
                        || event.tiraid.radioDecodings[0].identifier.value}}
                    </tt>
                  </td>
                  <td> {{event.tiraid.radioDecodings[0].rssi}} </td>
                  <td> {{event.tiraid.timestamp}} </td>
                  <td> <a ng-href="{{event.associations.url}}"
                          ng-show="{{event.associations.url}}"
                          target="_blank"> URL </a> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 well well-lg">
            <h3 class="text-center"> beaver.js </h3>
            <p class="text-center">
              <a class="btn btn-primary" href="https://github.com/reelyactive/beaver/tree/gh-pages" target="_blank">Source Code</a>
              <a class="btn btn-success" href="https://github.com/reelyactive/beaver" target="_blank">Documentation</a>
            </p>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <!----- END CONTENT SECTION ----------------------------------------->
      <footer class="footer">
        <a href="https://github.com/reelyactive/beaver">
          beaver.js
        </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016
        </a>
      </footer>
    </div>
  </body>
</html>
